.eventScreen {
  text-align: center;
  font-family: "Arial", sans-serif;
}

.eventScreen h2 {
  color: #0047ab; /* navy blue */
  margin-bottom: 20px;
  font-size: large;
}

.eventScreen p {
  color: #000;
  max-width: 600px;
  margin: 0 auto;
}

eventScreen button {
  background-color: #ffd700; /* gold */
  color: #0047ab; /* navy blue */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

eventScreen button:hover {
  background-color: #c5a600;
}
